*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color:silver;
}

header{
  height: 80px;
  background-color: white;
  padding: 10px 20px;
  margin-bottom: 30px;
}

.logo{
  height: 100%;
  vertical-align: middle;
}

.testo-logo{
  font-size: 40px;
  font-weight: bold;
  vertical-align: middle;
}

.container{
  width: 70%;
  margin:auto;
  background-color: white;
  border-radius: 5px;
  padding: 10px 40px;
}
 .add-task{
   background-color: #57B7F3;
   padding: 5px;
   border-radius: 5px;
   border-color: #57B7F3 ;
   color: white;
 }

 .add-section{
  
  padding: 5px;
  border-radius: 5px;
  border-color: silver ;
  color: silver;
 }

 .container-alto{
   border-bottom: 1px solid silver;
   
 }

 .elenco{
  padding: 20px 50px;
 }

 li{
   list-style: none;
  
 }

 li h3::before{
  content: '\25BE';
 }

 li .circle::before{
   display: inline-block;
   width: 15px;
   height: 15px;
   margin-right: 10px;
   border-radius: 50%;
   line-height: 10px;
   text-align: center;
   
 }

 li .circle.checked::before{
   content: '\2713';
   border: 1px solid #2cc6ab;
   color: #2cc6ab;

 }

 

